/* --------------------------  Desktop Responsive Design  -------------------------- */
@media (min-width: 396px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Quicksand;
  }

  body {
    background-color: #fff;
  }

  .bgimg {
    z-index: -1;
    position: fixed;
    width: 100vw;
  }

  header {
    display: flex;
    padding: 30px 30px 0px 30px;
    justify-content: space-between;
    background-color: #008af4;
  }

  .logo a {
    text-decoration: none;
    cursor: pointer;
  }

  .logo a i {
    display: flex;
    margin-left: 30px;
    margin-top: 0%;
    margin-bottom: 10%;
    color: #fff;
    font-size: 45px;
  }

  .logo a i h5 {
    padding: 4px 0;
  }

  .openbtn {
    display: none;
  }

  .closebtn {
    display: none;
  }

  .nav ul {
    list-style-type: none;
    margin-bottom: 10px;
  }

  .nav ul li {
    display: flex;
    padding-top: 3px;
    padding-right: 10px;
  }

  .nav ul li a {
    text-decoration: none;
    text-align: center;
    padding: 5px 25px 5px 25px;
    margin: 0px 15px;
    border: 2px solid #fff;
    border-radius: 50px;
    color: #fff;
    font-size: 17px;
    font-weight: 900;
    transition: 0.2s ease-in-out;
  }

  .nav ul li a:hover {
    border-radius: 0px 55px 10px 35px;
    background-color: #fff;
    color: #000;
  }

  .nav ul li a.active {
    border-radius: 0px 55px 10px 35px;
    background-color: #fff;
    color: #000;
  }

  .p-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
  }

  .p-section p {
    border-radius: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
      0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
      0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
    padding: 2.5%;
    color: #000;
    font-size: 18px;
    font-weight: 900;
    letter-spacing: 0.5px;
  }

  .giticon {
    margin-top: 5%;
    text-align: center;
  }

  .giticon a {
    text-decoration: none;
    padding: 10px 20px;
    border: 2px solid #008af4;
    border-radius: 50px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
      0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
      0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
    background-color: #008af4;
    color: #fff;
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }

  .giticon a:hover {
    border-radius: 0px 55px 10px 35px;
    border: 2px solid #fff;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
      0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
      0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
    color: #00297e;
  }

  .social {
    display: flex;
    justify-content: space-evenly;
    margin-top: -10%;
    padding: 2% 0;
  }

  .social a {
    text-decoration: none;
    background-color: #fff;
    border-radius: 50px;
    transition: 0.5s ease-in-out;
  }

  #i {
    padding: 10px 12px;
    color: #e1306c;
  }

  #f {
    padding: 10px;
    color: #3b5998;
  }

  #t {
    padding: 10px;
    color: #00acee;
  }

  .social a:hover {
    box-shadow: 0px 0px 20px 3px rgba(136, 136, 136, 0.4);
    transform: rotate(360deg);
  }

  footer {
    background-color: #00297e;
    margin-top: 20%;
  }

  footer p {
    color: #fff;
    font-weight: 600;
    letter-spacing: 1.2px;
    text-align: center;
    padding: 2% 0;
  }
}

/* --------------------------  Mobile Responsive Design  -------------------------- */
@media (max-width: 395px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Quicksand;
  }

  body {
    background-color: #fff;
  }

  .bgimg {
    z-index: -1;
    position: fixed;
    width: 100vw;
  }

  header {
    display: flex;
    padding: 2% 1%;
    justify-content: space-between;
    background-color: #008af4;
  }

  .logo a {
    text-decoration: none;
  }

  .logo a i {
    display: flex;
    margin-left: 30px;
    margin-top: 8%;
    color: #fff;
  }

  .logo a i h5 {
    padding: 4px 0;
  }

  .nav-main {
    position: relative;
    margin-left: 31.5%;
    padding: 5px 15px;
  }

  .openbtn {
    width: 40px;
    outline-style: none;
    border-style: none;
    background: none;
    font-size: 35px;
    font-weight: 900;
    color: #fff;
  }

  #closebtn {
    position: absolute;
    top: -2.3%;
    right: 12.5%;
    font-size: 70px;
    color: #142fa7e6;
  }

  .closebtn {
    font-size: 60px;
    text-decoration: none;
    color: #000;
    position: relative;
    top: 0;
    right: 20px;
  }

  .sidebar {
    height: 100%;
    width: 0%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    overflow-x: hidden;
    background-color: #fff;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    padding-top: 60px;
    transition: 0.5s;
  }
  .sidebar ul li {
    padding-top: 60px;
  }

  .sidebar ul li a {
    padding: 10px 0px 15px 0px;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    font-weight: 900;
    color: #142fa7e6;
    display: block;
    transition: 0.3s;
    letter-spacing: 0.5px;
  }

  .sidebar a.active {
    color: #fff;
    background-color: rgba(20, 47, 167, 0.9);
  }

  .p-section {
    display: flex;
    margin-top: 25%;
    margin-left: 15%;
    margin-right: 15%;
  }

  .p-section p {
    border-radius: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
      0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
      0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
    padding: 15px;
    color: #000;
    font-size: 13px;
    font-weight: 900;
    letter-spacing: 0.5px;
  }

  .giticon {
    margin: 25% 0;
    text-align: center;
  }

  .giticon a {
    text-decoration: none;
    padding: 10px 20px;
    border: 2px solid #008af4;
    border-radius: 50px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    background-color: #008af4;
    color: #fff;
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }

  .giticon a:hover {
    border-radius: 0px 55px 10px 35px;
    border: 2px solid #fff;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
      0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
      0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
    color: #00297e;
  }

  .social {
    display: flex;
    justify-content: space-evenly;
    margin-top: 15%;
    padding: 2% 0;
  }

  .social a {
    text-decoration: none;
    background-color: #fff;
    border-radius: 50px;
    transition: 0.5s ease-in-out;
  }

  #i {
    padding: 10px 12px;
    color: #e1306c;
  }

  #f {
    padding: 10px;
    color: #3b5998;
  }

  #t {
    padding: 10px;
    color: #00acee;
  }

  .social a:hover {
    box-shadow: 0px 0px 20px 3px rgba(136, 136, 136, 0.4);
    transform: rotate(360deg);
  }

  footer {
    margin-top: 5%;
    margin-bottom: 0%;
    display: grid;
    background-color: #00297e;
    padding-bottom: 5%;
  }

  footer p {
    color: #fff;
    font-weight: 600;
    letter-spacing: 1.2px;
    text-align: center;
    padding: 5% 0;
  }
}
